<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="Redis.DefaultKey" value="Wen.Helpers.ConsoleApp" />
    <add key="Email.SenderAddress" value="" />
    <add key="Email.SenderPassword" value="" />
    <add key="Email.SmtpHost" value="" />
    <add key="Email.Port" value="" />
  </appSettings>
  <connectionStrings>
    <add name="RedisConnectionString" connectionString="127.0.0.1:6379" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>